#root {
  min-height: 100%;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #232323;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #555555;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-stretch: expanded;
  font-size: 1.2em;
  color: #f65261;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  margin: 0.8em 4em;
}

.search {
  margin: 0.8em 8em;
  display: flexbox;
}

.findTextLabel {
  font-stretch: ultra-expanded;
  font-size: 2.2em;
  font-weight: lighter;
  color: #ffffff;
  opacity: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.editText {
  font-size: 2em;
  padding: 0.3em;
  width: 70%;
  border-radius: 0.2em;
  background-color: #1c1c1c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  outline: none;
  border: none;
}
