#root {
  min-height: 100%;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #232323;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #555555;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-stretch: expanded;
  font-size: 1.2em;
  color: #f65261;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  align-items: baseline;
  margin: 0.8em 4em;
}

.search {
  height: 16em;
  margin: 0.8em 8em;
  display: flexbox;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}

.findTextLabel {
  font-stretch: ultra-expanded;
  font-size: 2.2em;
  font-weight: lighter;
  color: #ffffff;
  opacity: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.editText {
  color: #ffffff;
  font-weight: lighter;
  font-size: 2em;
  padding: 0.3em;
  width: 70%;
  opacity: 90%;
  border-radius: 0.2em;
  background-color: #1c1c1c;
  outline: none;
  border: none;
}

.searchItems {
  display: flex;
}

.searchButton {
  margin-left: 1em;
  width: 10em;
  background-color: #f65261;
  border: none;
  border-radius: 0.2em;
  outline: none;
  font-size: 1.2em;
  color: #ffffff;
}

.searchButton:hover {
  transition: background-color 0.2s;
  background: #ce404b;
}

.searchButton:active {
  transform: scale(0.98);
  background-color: #ce404b;
}

.moviesSection {
  margin: 0em 6em;
}

.filter {
  display: flex;
}

.filter button {
  margin-right: 1em;
  color: #ffffff;
  opacity: 80%;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter button:hover {
  transition: color 0.2s;
  color: #f65261;
}

.filter button:active {
  color: #f65261;
}

.filterSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sortingSection {
  display: flex;
}

.sortingLabel {
  color: #797979;
}

.divider {
  width: 100%;
  height: 0.1em;
  background-color: #797979;
  opacity: 80%;
  border-radius: 1em;
}

.result {
  display: flex;
  align-items: baseline;
}

.resultCount {
  color: #ffffff;
  font-size: 1.2em;
}

.resultInfoText {
  margin-left: 0.4em;
  color: #797979;
  font-size: 1.2em;
}

.noMovieFound {
  color: #ffffff;
  opacity: 80%;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}

.movieList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5em;
}

.movieCard {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 20em;
}

.movieCardText {
  color: #717171;
  font-size: 1em;
  font-weight: 100;
}

.movieReleaseDate {
  color: #717171;
  font-size: 0.8em;
  font-weight: 100;
  border: 1px solid #70717171;
  border-radius: 0.2em;
  margin-left: 2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.movieCardGenres {
  color: #7a7a7a;
  font-size: 0.8em;
  font-weight: 100;
  margin-top: -8px;
}

.movieCardNameSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.movieCardPicture {
  height: 20em;
  width: 15em;
}

.defaultImage {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #7a7a7a;
  font-size: 1.2em;
  text-align: center;
  background-color: #1d1d1d;
}

.dropdown {
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-image: url("../images/down-arrow.svg");
}

.addMovieButton {
  right: 0;
  margin-left: auto;
  height: 3em;
  width: 10em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f65261;
  background-color: #545454;
  border: none;
  border-radius: 0.2em;
  outline: none;
}

.addMovieButton:hover {
  transition: background-color 0.2s;
  background: #80545454;
}

.addMovieButton:active {
  transform: scale(0.98);
  background-color: #80545454;
}

.movieCardDots {
  position: absolute;
  right: 0;
  background-color: #545454;
  border: none;
  outline: none;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  z-index: 1010;
  margin: 0.8em;
}

.movieCardDots:active {
  transform: scale(0.98);
  background-color: #30545454;
  transition: background-color 0.2s;
}

.imageWrapper {
  height: 25em;
  width: 20em;
  position: relative;
}
